samples/*.mxf filter=lfs diff=lfs merge=lfs -binary
samples/*.bin filter=lfs diff=lfs merge=lfs -binary
samples/*.vbi filter=lfs diff=lfs merge=lfs -binary
samples/*.vbid filter=lfs diff=lfs merge=lfs -binary
samples/*.t42 filter=lfs diff=lfs merge=lfs -binary
